In [5]:
import pandas as pd

In [7]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
pip install numpy

Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [11]:
#QUESTION 1
data=np.array([4,8,16,15,23,42])
ser=pd.Series(data)
print(ser)

0     4
1     8
2    16
3    15
4    23
5    42
dtype: int64

In [12]:
#Question 2
li=[1,2,3,4,5,6,7,8,9,10]
ser=pd.Series(li)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
#Question3
data=[["alice",22,"female"],["bob",30,"male"],["claire",27,"female"]]
df=pd.DataFrame(data,columns=["name","age","gender"])
print(df)

     name  age  gender
0   alice   22  female
1     bob   30    male
2  claire   27  female

In [ ]:
#Question4
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column

In [ ]:
#Question 5
The following function used to manipulate data in dataframe are:
describe()
shape
sort_values() 
head()
tail()

In [ ]:
#Question 6
DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed).

In [ ]:
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
 
# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
 
# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
         'Article': article_series}
 
# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
 
# Printing elements of Dataframe
print(result)